body{
    font-size: 16px;
    background-color: bisque;
    font-family:'Courier New', Courier, monospace;
    font-style:italic ;
    margin:0px
}

.head{
    background-image: url(colorful-polygonal-connection-design-with-low-poly-vector-illustration.jpg);
    background-size:100% 100%;
    border-bottom: 1px solid black;
}

.left{
    max-width: 160px;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 2px;
}

.zagolovok{
    margin: 2px;
}

.ssilka{
    padding: 4px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(223, 178, 122, 0.979);
    margin: 0px 0px 6px 0px
}

.headArt{
    width:200px ;
}

.EWeb{
    color:black
}

.ssilka a{
    color:black;
    text-decoration: none;
}


